@import 'tailwindcss';

:root {
    font-family: var(--font-inter);
}

@theme {
    --font-inter: 'Inter', sans-serif;

    --color-home-bg: #170f23;
    --color-sidebar-bg: #231b2e;
    --color-modal-bg: #34224f;
    --color-btn-primary: #9b4de0;
}

/* -_act next - pev carousel custom */
