@import 'tailwindcss';

:root {
    font-family: var(--font-inter);
}

@theme {
    --font-inter: 'Inter', sans-serif;

    --color-home-bg: #170f23;
    --color-sidebar-bg: #231b2e;
    --color-btn-primary: #9b4de0;
    --color-hover-link: #c273ed;
    --color-text-secondary: #ffffff80;
}

/* act next - pev carousel custom */
